/* Element Section */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #222;
    
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}

/* Navigation Section */

#home {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
   
}

.main-header-title {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    font-size: 2.5em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    list-style: none;
    background-color: #FFF;
    width: 85%;
    margin: 10px auto;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;    
}

.main-nav a {
    text-decoration: none;
}

/* About Student Section */

.about-student {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    justify-content: center;
}

.about-student img {
    height: 60%;
    width: 70%;
    margin: 20px auto;
}

.about-student p {
    text-align: center;
    line-height: 150%;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    
}

/* Portfolio Section */

.portfolio-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    margin-bottom: 40px;
}

.card img {
    display: block;
    height: 50%;
    width: 95%;
    margin: 0 auto;    
}

.card h3 {
    font-size: 1.3em;
    font-weight: 400;
    padding: 25px 0 15px 0;   
    margin: 0 auto; 
}

.card p {
    font-weight: 300;
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: 1em;
    
}

.card p, .card h3 {
    text-align: center;
    width: 70%;
}

/* Contact Section */

#contact {
    background-color: #FAFAFA;
}

#contact * {
    text-align: center;    
}

.contact-div {
    text-align: center;
    width: 85%;
    margin: 0 auto 40px auto;
}

#contact p {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 20px; 
}

#contact a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

#contact hr {
    border: .1px dotted lightgrey;
    width: 90%;
    margin: 40px auto;
    
}

/* Footer Section */

.footer-box {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: .9em;
}

.footer-box div {
    padding: 0 20px 40px 20px;
}

.footer-back-to-top {
    text-transform: uppercase;
}

.footer-back-to-top a {
    text-decoration: none;
}

.footer-nav {
    display: none;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav li {
    list-style: none;
}

@media (min-width: 768px) {
    
    /* Nav Section */
    .nav-bar {
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
        justify-content: space-between;
        align-content: flex-end;
    }
    
    .main-header-title {
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .main-nav li {
        font-size: 1em;
        background: #FAFAFA;
        margin-bottom: 60px;
    }
    /* About-Student Section */
    .about-student {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding-bottom: 60px;
    }

    .about-student img {
        width: 400px;
        margin-top: 0;
        margin-right: 10px; 
    }

    .about-student p {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.5em;
        text-align: left;
        margin-left: 25px;
        font-weight: 300;  
    }

    /* Portfolio Section */

    .portfolio-section {
        flex-flow: wrap row;
    }
    
    .card {
        width: 48%;
        margin-left: 10px;
        margin-right: -4px;        
    }

    .card:nth-child(even) {
        margin-right: 10px;
        margin-left: -4px;
    }

    /* Contact Section */

    #contact p, .contact-div {
        width: 60%;
        font-size: 1.2em;
    }

    #contact a {
        font-size: 1.3em;
    }

    #contact hr {
        
        
        margin: 40px auto 20px auto;
        
    }

    /* Footer Section */
    
    .footer-student-name p {
        margin-left: 20px;
    }

    .footer-back-to-top {
        display: none;
    }

    .footer-nav {
        display: block;        
    }

    .footer-nav-flex {
        display: flex;
        align-items: flex-start;        
    }

    .footer-nav-flex li {
        margin: 0 25px;
    }

    .footer-box {
        margin-bottom: 40px;
    }


}

@media (min-width: 1024px) {}