* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #222;
    
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
   
}

.main-header-title {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    font-size: 2.5em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    list-style: none;
    background-color: #FFF;
    width: 85%;
    margin: 10px auto;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;    
}

.main-nav a {
    text-decoration: none;
}

.about-student {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    justify-content: center;
}

.about-student img {
    height: 60%;
    width: 70%;
    margin: 20px auto;
}

.about-student p {
    text-align: center;
    line-height: 150%;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    
}

.portfolio-section, .card {
    display: flex;
    justify-content: center;
}

.card {
    flex-direction: column;
}


.card img {
    width: 90%;
    height: 80%;
    margin: 0 auto;    
}

.card h3 {
    font-weight: 400;
    padding: 25px 0 15px 0;    
}

.card p {
    font-weight: 300;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: .95em;
}

.card p, .card h3 {
    text-align: center;
    
}

#contact {
    background-color: #FAFAFA;
}

#contact * {
    text-align: center;    
}

#contact p {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 20px; 
}

#contact a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

#contact hr {
    border: .1px dotted lightgrey;
    width: 90%;
    margin: 40px auto;
    
}

.footer-box {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: .9em;
}

.footer-box div {
    padding: 0 20px 40px 20px;
}

.footer-back-to-top {
    text-transform: uppercase;
   
      
}

.footer-back-to-top a {
    text-decoration: none;
}

.footer-nav {
    display: none;
}

@media (min-width: 768px) {
    
    .nav-bar {
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
        justify-content: space-between;
        align-content: flex-end;
    }
    
    .main-header-title {
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .main-nav li {
        font-size: 1em;
        background: #FAFAFA;
        margin-bottom: 60px;
    }

    .about-student {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding-bottom: 60px;
    }

    .about-student img {
        width: 40%;
        margin: 0;
        margin: 0 20px;
        
    }

    .about-student p {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.5em;
        text-align: left;
        margin: 0 20px;
        font-weight: 300;
    }

    


}

@media (min-width: 1024px) {}