/* Element Section */

* {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #222;
    line-height: 150%;
}

h2 {
    font-size: 13.5px;
    font-weight: bold;
    text-align: center;
    padding: 46px;
    text-transform: uppercase;
}

/* Navigation Section */

#home {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.main-header-title {
    text-align: center;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin-bottom: 5px;
    font-size: 1.65em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    list-style: none;
    background-color: #FFF;
    width: 90%;
    margin: 2px auto;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;    
}

.main-nav:last-child {
    padding-bottom: 10px;
}

.main-nav a {
    text-decoration: none;
}

/* About Student Section */

.about-student {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    justify-content: center;
}

.about-student img {
    object-fit: contain;
    max-width: 65%;
    max-height: 65%;
    width: auto;
    height: auto;
    margin: 29px auto;
}

.about-student p {
    text-align: center;
    font-weight: 300;
    max-width: 86%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 14.5px;
}

/* Portfolio Section */

.portfolio-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.card img {
   object-fit: contain;
   max-width: 92%;
   max-height: 100%;
   width: auto;
   height: auto;
   display: block;
   margin: 0 auto;
   
   /* Adapted from: https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
}

.card h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 28px;
    margin: 0 auto; 
}

.card p {
    font-weight: 300;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 34px;
    font-size: 13px;
    word-spacing: 2px;
    
}

.card:last-child {
    margin-bottom: 30px;
}

.card p, .card h3 {
    text-align: center;
    max-width:90%;
}

/* Contact Section */

#contact {
    background-color: #FAFAFA;
}

#contact * {
    text-align: center;    
}

#contact p {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-weight: 300; 
    font-size: 15px;
    
}

#contact .contact-body {
    text-align: center;
    padding-bottom: 30px;   
}

#contact h2 {
    padding-top: 62px;
    padding-bottom: 33px;
}

#contact a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: .25px;
    font-weight: 400;
    
}

#contact a:hover {
    color: purple;
}

#contact hr {
    border: .1px dotted lightgrey;
    width: 90%;
    margin: 50px auto 0 auto;
}

/* Footer Section */

footer {
    background-color: #FAFAFA;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: .9em;
    
    
}

.footer-student-name {
    text-transform: none;
}

.footer-student-name, .footer-back-to-top {
    
    padding: 25px 10px;
}

.footer-back-to-top {
    text-transform: uppercase;
    font-size: 12px;
}

.footer-back-to-top a {
    text-decoration: none;
}

.footer-nav {
    display: none;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav li {
    list-style: none;
}

a:hover {
    color: gold;
    text-decoration: underline dotted;
}


@media (min-width: 768px) {
    
    /* Nav Section */
    .nav-bar {
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
        justify-content: space-between;
    }
    
    .main-header-title {
        margin-top: 47px;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .main-nav li {
        font-size: 14px;
        background: #FAFAFA;
        margin-bottom: 30px;
    }
    /* About-Student Section */
    .about-student {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding-bottom: 30px;
    }

    .about-student img {
        margin-top: 0;
        margin-right: 20px; 
    }

    .about-student p {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
        text-align: left;
        margin-left: 25px;
        font-weight: 300;  
    }

    /* Portfolio Section */

    .portfolio-section {
        flex-flow: wrap row;
    }
    
    .card {
        width: 48%;
    }

    .card img {
        max-width: 96%;
    }

    .card p {
        padding-bottom: 56px;
    }

    /* Contact Section */

    #contact p, .contact-body {
        width: 75%;
        font-size: 1.2em;
    }

    #contact .contact-body {
        padding-bottom: 47px;
    }

    #contact h2 {
        padding-bottom: 40px;
    }

    #contact a {
        font-size: 1.3em;
    }

    #contact hr {
        margin: 40px auto 0 auto;
    }

    /* Footer Section */
    
    .footer-box {
        justify-content: center;
        align-items: flex-start;
        
    }

    .footer-back-to-top {
        display: none;
    }

    .footer-student-name, .footer-nav {
        padding-top: 25px;
        padding-bottom: 100px;
    }

    .footer-student-name {
        flex: 2;
        margin: 0 auto;
        padding-left: 20px;
        text-align: left;
        
    }

    .footer-nav {
        flex:1.2;
        display: flex;
        
        height: 100%;
        margin: 0 25px;      
    }

    .footer-nav li {
        height: 100%;
        flex: 1;
        text-align: center;
    }
}

@media (min-width: 1024px) {

    /* Navigation Section */
    #home {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav, .main-header-title {
        width: 50%;
        margin-bottom: 40px;
    }

    .main-nav {
        margin-right: 45px;
    }

    .main-header-title {
        text-align: left;
        margin-left: 1.5%;
    }

    .nav-bar {
        justify-content: flex-end;
        align-items: flex-end;
        width: 60%;
        height: 100%;
        margin-left: auto;
        margin-right: 0;
    }

    .nav-bar li {
        margin: 0 auto;
    }

    /* About Student Section */

    .about-student {
        padding-bottom: 0;
    }

    .about-student p {
        flex: 1.5;
        margin-right: 10px;
        
    }

    .about-student img {
        flex: 1 1 10%;
        margin-left: 15px;
        margin-right: 55px;
    }


    /* Portfolio Section */

    #portfolio h2 {
        padding: 57px 0;
        
    }

    #portfolio {
        background-color: #FAFAFA;
    }

    .portfolio-section, #portfolio h2 {
        background-color: #FFF;
        max-width: 96%;
        margin: 0 auto;
    }

    .card {
        width: 30%;
    }

    .card p {
        padding-bottom: 30px;
    }

    /* Contact Section */

    #contact hr {
        margin-top: 30px;
    }

    /* Footer Section */
    .footer-box {        
        align-items: flex-start;
        
        
    }

    .footer-student-name, .footer-nav {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-student-name {
        flex: 2;
        padding-left: 50px;
    }

    .footer-nav {
        height: 100%;
        flex: 1; 
        justify-content: space-around;
        align-items: flex-start;
    }
}